.card {
  height: 175px;
  text-shadow: 0 1px 3px black-medium;
  background-size: cover !important;
  background-position: center;
  color: $white;
  position: relative;
  margin: 10px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-sm {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.card-bl {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
  i {
    color: yellow;
  }
}

.container {
  background-color: $white;
  // height: 250px;
  align-items: center;
  justify-content: center;
}

.rowper {
  // width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.card-book {
  display: block;
  h2 {
    font-size: 20px;
    padding-left: 10px;
    margin: 0px;
    padding: 0px;
  }
}

.book-c {
  padding: 20px;
  display: block;
  width: 400px;
  background-color: $grey;
}

.form-group {
  margin: 0px;
  padding: 0px;
}

.btn-book {
  background-color: $red;
  margin-top: 5px;
  width: 340px;
}
